#container {
    display: flex;
    margin-top: 10em;
    flex-direction: column;
    align-content: space-around;
    justify-content: space-around;
    gap: 2px;

}
.controls {
    display: flex;
    align-self: center;
}
.main-grid {
    display: flex;
    align-self: center;
    height: 500px;
    width: 500px    ;
    border: solid teal .5em;
    gap: 1px;
}

.col-grid {
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 1px;

}
.square {
    background-color: tan;
    flex: 1;
}